<?xml version="1.0"?>
<!--
/**
 * Openpay_Codi default configuration
 *
 * @category    Openpay
 * @package     Openpay_Codi
 * @author      Jose Romero
 * @copyright   Openpay (http://openpay.mx)
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">    
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
        </csp>        
        <payment>
            <openpay_codi>
                <active>0</active>
                <is_sandbox>1</is_sandbox>
                <model>Openpay\Codi\Model\Payment</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>                
                <title>Openpay (CoDi®)</title>                
                <sandbox_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />                
                <live_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />                     
                <expiration>0</expiration>          
                <deadline>5</deadline>          
                <time_unit>minutes</time_unit>          
                <allowspecific>1</allowspecific>      
                <specificcountry>MX</specificcountry>                                                                                                 
            </openpay_codi>
        </payment>
    </default>
</config>
