<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<style>
    .payment-method__logo {
        float: right;
    }
    .openpay__title-steps {
        margin-top: 25px; 
        margin-bottom: 20px;
        color: #0063A8;
    }
    .steps {
        overflow: hidden;
    }
    .steps__item {
        width: 30%; float: left; 
        text-align: center; 
        padding-left: 1.5%; 
        padding-right: 1.5%;
    }
    .steps__image {
        max-width: 75%;
    }
    .steps__text {
        padding: 3px;
        color: #0063A8;
    }
</style>
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
        <img src="https://img.openpay.mx/plugins/openpay-logo_106x25.png" class="payment-method__logo">
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
        <div id="codi-container" class="openpay fieldset" style="margin-bottom: 20px;">
            <div class="items check payable">
                <div style="display: flex; align-items: center;">
                    <div style="flex: 0 0 30%; max-width: 30%; text-align: center;">
                        <img src="https://i.postimg.cc/XYFndvRx/QR.jpg" alt="" style="max-width: 100%; width: 150px; height: 150px;" />
                    </div>
                    <div style="flex: 0 0 60%; max-width: 60%;">
                        <h4 style="font-size: 20px;">¿Qué es CoDi®?</h4>
                        <p>CoDi® es una plataforma desarrollada por Banco de México que permite hacer cobros a través de un código QR desde un celular.</p>
                    </div>
                </div>                
                <h4 class="openpay__title-steps">Pasos para completar tu pago</h4>
                <div class="steps">                
                    <div class="steps__item">
                        <img src="https://img.openpay.mx/plugins/file.svg" alt="" class="steps__image" />
                        <p class="steps__text">Haz clic en el botón de pago, tu compra quedará en espera de que realices tu pago.</p>
                    </div>    
                    <div class="steps__item">
                        <img src="https://img.openpay.mx/plugins/qr.svg" alt="" class="steps__image" />
                        <p class="steps__text">Localiza la sección de CoDi® en tu app móvil, sigue los pasos para escanear el código QR para completar tu pago.</p>
                    </div>    
                    <div class="steps__item">
                        <img src="https://img.openpay.mx/plugins/mail.svg" alt="" class="steps__image" />
                        <p class="steps__text">Inmediatamente después de recibir tu pago te enviaremos un correo electrónico con la confirmación de pago.</p>
                    </div>    
                </div>
            </div>
        </div>          
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>